/* .first-color { 
	background: #272343; 
}
	
.second-color { 
	background: #ffffff; 
}

.third-color { 
	background: #e3f6f5; 
}

.fourth-color { 
	background: #bae8e8; 
} */

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: whitesmoke;
}
nav {
  background-color: #e3f6f5;
  border-bottom: 1px solid #272343;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  margin-right: -8px;
}
a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #272343;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: bolder;
}
a:hover {
  background-color: #272343;
  color: #e3f6f5;
}
h1 {
  padding: 2rem;
  text-align: center;
  font-family: fantasy;
  font: size 3rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
  box-shadow: grey;
}
.center {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke;
}
